<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scmt.healthy.mapper.RelationProjectCriticalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scmt.healthy.entity.RelationProjectCritical">
        <id column="id" property="id" />
        <result column="base_project_id" property="baseProjectId" />
        <result column="level" property="level" />
        <result column="type" property="type" />
        <result column="interval_value" property="intervalValue" />
        <result column="allow_sex" property="allowSex" />
        <result column="min_age" property="minAge" />
        <result column="max_age" property="maxAge" />
        <result column="department_id" property="departmentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, base_project_id, level, type, interval_value, allow_sex, min_age, max_age, department_id
    </sql>

</mapper>
