<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scmt.healthy.mapper.TCareerHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scmt.healthy.entity.TCareerHistory">
        <id column="id" property="id" />
        <result column="start_date" property="startDate" />
        <result column="work_unit" property="workUnit" />
        <result column="work_type_text" property="workTypeText" />
        <result column="hazard_factors_text" property="hazardFactorsText" />
        <result column="protective_measures" property="protectiveMeasures" />
        <result column="person_id" property="personId" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, start_date, work_unit, work_type_text, hazard_factors_text, protective_measures, person_id, create_id, create_time
    </sql>

</mapper>
