<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scmt.healthy.mapper.TCertificateManageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scmt.healthy.entity.TCertificateManage">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="results" property="results" />
        <result column="date_of_issue" property="dateOfIssue" />
        <result column="term_of_validity" property="termOfValidity" />
        <result column="unit_of_issue" property="unitOfIssue" />
        <result column="code_img" property="codeImg" />
        <result column="head_img" property="headImg" />
        <result column="is_show" property="isShow" />
        <result column="del_flag" property="delFlag" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
        <result column="delete_id" property="deleteId" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, code, name, sex, age, results, date_of_issue, term_of_validity, unit_of_issue, is_show, del_flag, create_id, create_time, update_id, update_time, delete_id, delete_time
    </sql>


    <select id="queryTCertificateManageListByNotPage" resultType="com.scmt.healthy.entity.TCertificateManage">
        SELECT * FROM t_certificate_manage
        <where>
            <if test="searchVo != null">
                <if test="searchVo.getStartDate()!=null and searchVo.getEndDate()!=null">
                    AND t_certificate_manage.create_time BETWEEN #{searchVo.startDate} and #{searchVo.endDate}
                </if>
            </if>
                and t_certificate_manage.del_flag = 0
        </where>
    </select>

    <!--分页查询-->
    <select id="queryTCertificateManageListByPage" resultType="com.scmt.healthy.entity.TCertificateManage">
         SELECT t_certificate_manage.*  FROM t_certificate_manage
        ${ew.customSqlSegment}
    </select>



</mapper>
