<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scmt.healthy.mapper.TdTjBhkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scmt.healthy.entity.TdTjBhk">
        <id column="id" property="id" />
        <result column="RID" property="rid" />
        <result column="BHKORGAN_CODE" property="bhkorganCode" />
        <result column="BHK_CODE" property="bhkCode" />
        <result column="INSTITUTION_CODE" property="institutionCode" />
        <result column="CRPT_NAME" property="crptName" />
        <result column="CRPT_ADDR" property="crptAddr" />
        <result column="PERSON_NAME" property="personName" />
        <result column="SEX" property="sex" />
        <result column="IDC" property="idc" />
        <result column="BRTH" property="brth" />
        <result column="AGE" property="age" />
        <result column="ISXMRD" property="isxmrd" />
        <result column="LNKTEL" property="lnktel" />
        <result column="DPT" property="dpt" />
        <result column="WRKNUM" property="wrknum" />
        <result column="WRKLNT" property="wrklnt" />
        <result column="WRKLNTMONTH" property="wrklntmonth" />
        <result column="TCHBADRSNTIM" property="tchbadrsntim" />
        <result column="TCHBADRSNMONTH" property="tchbadrsnmonth" />
        <result column="WORK_NAME" property="workName" />
        <result column="ONGUARD_STATE" property="onguardState" />
        <result column="BHK_DATE" property="bhkDate" />
        <result column="BHKRST" property="bhkrst" />
        <result column="MHKADV" property="mhkadv" />
        <result column="VERDICT" property="verdict" />
        <result column="MHKDCT" property="mhkdct" />
        <result column="BHK_TYPE" property="bhkType" />
        <result column="JDGDAT" property="jdgdat" />
        <result column="BADRSN" property="badrsn" />
        <result column="IF_RHK" property="ifRhk" />
        <result column="LAST_BHK_CODE" property="lastBhkCode" />
        <result column="ID_CARD_TYPE_CODE" property="idCardTypeCode" />
        <result column="WORK_TYPE_CODE" property="workTypeCode" />
        <result column="HARM_START_DATE" property="harmStartDate" />
        <result column="JC_TYPE" property="jcType" />
        <result column="RPT_PRINT_DATE" property="rptPrintDate" />
        <result column="CREDIT_CODE_EMP" property="creditCodeEmp" />
        <result column="CRPT_NAME_EMP" property="crptNameEmp" />
        <result column="INDUS_TYPE_CODE_EMP" property="indusTypeCodeEmp" />
        <result column="ECONOMY_CODE_EMP" property="economyCodeEmp" />
        <result column="CRPT_SIZE_CODE_EMP" property="crptSizeCodeEmp" />
        <result column="ZONE_CODE_EMP" property="zoneCodeEmp" />
        <result column="order_code" property="orderCode" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, RID, BHKORGAN_CODE, BHK_CODE, INSTITUTION_CODE, CRPT_NAME, CRPT_ADDR, PERSON_NAME, SEX, IDC, BRTH, AGE, ISXMRD, LNKTEL, DPT, WRKNUM, WRKLNT, WRKLNTMONTH, TCHBADRSNTIM, TCHBADRSNMONTH, WORK_NAME, ONGUARD_STATE, BHK_DATE, BHKRST, MHKADV, VERDICT, MHKDCT, BHK_TYPE, JDGDAT, BADRSN, IF_RHK, LAST_BHK_CODE, ID_CARD_TYPE_CODE, WORK_TYPE_CODE, HARM_START_DATE, JC_TYPE, RPT_PRINT_DATE, CREDIT_CODE_EMP, CRPT_NAME_EMP, INDUS_TYPE_CODE_EMP, ECONOMY_CODE_EMP, CRPT_SIZE_CODE_EMP, ZONE_CODE_EMP, order_code, flag
    </sql>

    <select id="queryCompanyList" resultType="java.util.Map">
        SELECT CRPT_NAME AS name FROM company_info
    </select>

</mapper>
