<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scmt.healthy.mapper.TGroupPersonMapper">

    <select id="getTGroupPersonInspection" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT id,person_name,is_pass,print_state,sex,id_card,birth,age,jc_type,physical_type,sporadic_physical
        FROM t_group_person ${ew.customSqlSegment}
    </select>

    <select id="getTGroupPersonInspectionTypeStatus" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT t_review_person.*,gp.sex,gp.birth,gp.age,gp.jc_type,gp.sporadic_physical
        FROM t_review_person
         left join t_group_person gp on gp.id = t_review_person.first_person_id
         ${ew.customSqlSegment}
    </select>

    <select id="getExamineFinishPersonData" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT t_group_person.*, t1.health_certificate_conditions as isQualified
        FROM t_group_person
                 left join t_inspection_record t1 on t_group_person.id = t1.person_id
            ${ew.customSqlSegment}
    </select>

    <select id="getPersonByOfficeId" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT id,person_name,is_pass,sex,id_card,birth,age,jc_type,physical_type,sporadic_physical from t_group_person
        ${ew.customSqlSegment}
        <if test="list != null and list != ''">
            and EXISTS (SELECT group_id from t_order_group_item where t_group_person.group_id = group_id and office_id
            IN
            <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>)
        </if>

        <if test="isCheck == 1">
            AND (SELECT COUNT(1) FROM t_depart_result WHERE person_id = t_group_person.id
            <if test="list != null and list != ''">
                AND office_id IN
                <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                    #{item}
                </foreach>
            </if>
            and group_item_id IN (
            SELECT id FROM t_order_group_item WHERE group_id =t_group_person.group_id
            <if test="list != null and list != ''">
                AND office_id IN
                <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                    #{item}
                </foreach>
            </if>
            AND del_flag = 0
            ) and del_flag = 0)
            &gt;=
            (
            SELECT
            COUNT( 1 )
            FROM
            t_order_group_item
            WHERE
            group_id = t_group_person.group_id
            <if test="list != null and list != ''">
                AND office_id IN
                <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                    #{item}
                </foreach>
            </if>
            AND del_flag = 0
            )
        </if>
        <if test="isCheck == 0">
            AND (SELECT COUNT(1) FROM t_depart_result WHERE person_id = t_group_person.id
            <if test="list != null and list != ''">
                AND office_id IN
                <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                    #{item}
                </foreach>
            </if>
            and group_item_id IN (
            SELECT id FROM t_order_group_item WHERE group_id =t_group_person.group_id
            <if test="list != null and list != ''">
                AND office_id IN
                <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                    #{item}
                </foreach>
            </if>
            AND del_flag = 0
            ) and del_flag = 0)
            &lt;
            (
            SELECT
            COUNT( 1 )
            FROM
            t_order_group_item
            WHERE
            group_id = t_group_person.group_id
            <if test="list != null and list != ''">
                AND office_id IN
                <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                    #{item}
                </foreach>
            </if>
            AND del_flag = 0
            )
        </if>
        order by t_group_person.update_time desc, t_group_person.sporadic_physical desc
    </select>

    <select id="getGroupPersonByIdWithLink" resultType="map">
        SELECT p.*,
               o.order_code,
               u.name
        FROM t_group_person p
                 LEFT JOIN t_group_order o on p.group_id = o.id and o.del_flag = 0
                 LEFT JOIN t_group_unit u on p.unit_id = u.id and u.del_flag = 0
        where p.del_flag = 0
          and is_pass = 2
          and p.id = #{id}
    </select>

    <select id="getTGroupPersonByOrderId" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT *
        FROM t_group_person
        where del_flag = 0
          and order_id = #{orderId}
    </select>

    <select id="getInspectionTGroupPersonList" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT t_group_person.id
             , t_group_person.person_name
             , t_group_person.sex
             , t_group_person.id_card
             , t_group_person.birth
             , t_group_person.age
             , t_group_person.dept
             , t_group_person.jc_type
             , t_group_person.order_id
             , t_group_person.group_id
             , t_group_person.is_pass
             , t_group_person.test_num
             , t_group_person.hazard_factors
             , REPLACE(t_group_person.hazard_factors_text, '\\|', '、')
             , t_group_person.physical_type
             , t_group_person.unit_id
             , t_group_person.check_result
             , t_group_person.old_group_id
             , t_group_person.is_recheck
             , t_group_person.sporadic_physical
        FROM t_group_person ${ew.customSqlSegment}
    </select>

    <select id="getInspectionTGroupPersonReviewList" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT t_review_person.id
             , t_review_person.person_name
             , gp.sex
             , t_review_person.id_card
             , gp.birth
             , gp.age
             , t_review_person.dept
             , gp.jc_type
             , t_review_person.order_id
             , t_review_person.group_id
             , t_review_person.is_pass
             , t_review_person.test_num
             , gp.hazard_factors
             , gp.hazard_factors_text
             , t_review_person.physical_type
             , t_review_person.unit_id
             , gp.check_result
             , t_review_person.old_person_id
             , t_review_person.first_person_id
             , gp.is_recheck
             , gp.sporadic_physical
             , CASE
                   WHEN
                           ((SELECT COUNT(0) FROM t_depart_item_result WHERE person_id = t_review_person.id AND (arrow = '↑' OR arrow = '↓' OR result = '阳性'))) &gt; 0
                       THEN 1
                   ELSE 0 END
            AS is_all_checked
        FROM t_review_person
         left join t_group_person gp on gp.id = t_review_person.first_person_id
         ${ew.customSqlSegment}
    </select>

    <select id="getGroupPersonInfo" resultType="map">
        SELECT p.*,
               o.physical_type,
               o.order_code,
               u.link_phone2 as unit_phone,
               u.name as unit_name,
               r.occupational_taboo_now,
               r.occupational_diseases_now,
               r.review_result
        FROM t_group_person p
                 LEFT JOIN t_group_order o on p.order_id = o.id and o.del_flag = 0
                 LEFT JOIN t_group_unit u on p.unit_id = u.id and u.del_flag = 0
                 LEFT JOIN t_inspection_record r on r.person_id = p.id and r.del_flag = 0
        WHERE p.del_flag = 0
          and p.id = #{id}
    </select>

    <select id="getGroupPersonInfoReview" resultType="map">
        SELECT gp.*,
               o.physical_type,
               o.order_code,
               u.link_phone2 as unit_phone,
               u.name as unit_name,
               r.occupational_taboo_now,
               r.occupational_diseases_now,
               r.review_result
        FROM t_review_person rp
                 left join t_group_person gp on gp.id = rp.first_person_id
                 LEFT JOIN t_group_order o on rp.order_id = o.id and o.del_flag = 0
                 LEFT JOIN t_group_unit u on rp.unit_id = u.id and u.del_flag = 0
                 LEFT JOIN t_inspection_record r on r.person_id = rp.id and r.del_flag = 0
        WHERE rp.del_flag = 0
          and rp.id = #{id}
    </select>

    <select id="queryNoCheckProjectPersonList" resultType="com.scmt.healthy.entity.TGroupPerson">
        select  t_group_person.id,
                t_group_person.test_num,
                t_group_person.person_name,
                t_group_person.sex,
                t_group_person.age,
                t_group_person.id_card,
                t_group_person.is_pass,
                t_group_person.work_state_code,
                t_group_person.work_state_text,
                t_group_person.hazard_factors,
                t_group_person.hazard_factors_text,
                t_group_person.regist_date,
                t_group_person.delete_id,
               (select GROUP_CONCAT(DISTINCT name)
                from t_order_group_item
                where group_id = t_group_person.group_id and del_flag = 0
                  and id not in (select group_item_id from t_depart_result where person_id = t_group_person.id)
                  and id not in (select order_group_item_id from relation_person_project_check where person_id = t_group_person.id and state = 2)) as noCheckProjectName,
                t_career_history.irradiation_type,
                t_career_history.irradiation_type_code,
                t_inspection_record.conclusion_code,
                t_dict_data.title
        from t_group_person
        LEFT JOIN t_career_history on t_career_history.person_id = t_group_person.id LEFT JOIN t_inspection_record ON t_group_person.id = t_inspection_record.person_id
        LEFT JOIN t_dict_data ON t_inspection_record.conclusion_code = t_dict_data.value AND t_dict_data.dict_id = '1453570933326483456'
        ${ew.customSqlSegment}
    </select>

    <select id="queryTGroupPersonAndResultList" resultType="com.scmt.healthy.entity.TGroupPerson">
        select t_group_person.id,t_group_person.diagnosis_date,t_group_person.test_num,t_group_person.physical_type
        from t_group_person
        ${ew.customSqlSegment}
        and t_group_person.is_pass > 3
    </select>

    <select id="queryTGroupPersonAndResultAppList" resultType="com.scmt.healthy.entity.TGroupPerson">
        select t_group_person.id,t_group_person.create_time,t_group_person.group_id,t_group_person.test_num,t_group_person.physical_type
        from t_group_person
        ${ew.customSqlSegment}
        and (select count(t_group_order.id) from t_group_order where t_group_order.id = t_group_person.order_id) = 0
    </select>

    <select id="getPersonListNum" resultType="com.scmt.healthy.entity.TGroupPerson">
        select DISTINCT (select count(1) from t_group_person where order_id in
        <if test="orderIdList != null and orderIdList.size > 0">
            <foreach collection="orderIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        and is_pass >= 3 and physical_type = #{physicalType} and del_flag = 0) as physicalFinishNum,
        (select count(1) from t_group_person where order_id in
        <if test="orderIdList != null and orderIdList.size > 0">
            <foreach collection="orderIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        and is_pass >= 4 and physical_type = #{physicalType} and del_flag = 0) as inspectionFinishNum,
        (select count(1) from t_group_person where order_id in
        <if test="orderIdList != null and orderIdList.size > 0">
            <foreach collection="orderIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        and physical_type = #{physicalType} and del_flag = 0) as allNum from t_group_person
    </select>

    <select id="getPersonNumByGroupId" resultType="com.scmt.healthy.entity.TGroupPerson">
        select count(1) as personNum
        from t_group_person
        where group_id = #{groupId}
    </select>
    <select id="getGroupPersonInfoById" resultType="java.util.Map">
        SELECT p.*, u.name AS unit_name
        FROM t_group_person p
                 LEFT JOIN t_group_unit u on p.unit_id = u.id and u.del_flag = 0
        WHERE p.del_flag = 0
          AND p.id = #{id}
    </select>
    <select id="queryPersonDataListByOrderId" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT t_group_person.person_name
             , t_group_person.test_num
             , t_group_person.dept
             , t_group_person.work_state_text
             , t_group_person.regist_date
             , t_group_person.sex
             , t_group_person.age
             , t_group_person.mobile
             , t_group_person.group_id
        FROM t_group_person
        WHERE order_id = #{orderId}
    </select>

    <select id="getGroupPersonInfoByIds" resultType="map">
        SELECT p.*,
        o.physical_type,
        o.order_code,
        u.name AS unit_name,
        u.link_phone2 as unit_phone,
        i.occupational_taboo_now,
        i.occupational_diseases_now
        FROM t_group_person p
        LEFT JOIN t_group_order o on p.order_id = o.id and o.del_flag = 0
        LEFT JOIN t_group_unit u on p.unit_id = u.id and u.del_flag = 0
        LEFT JOIN t_inspection_record i ON p.id = i.person_id and i.del_flag = 0
        WHERE p.del_flag = 0
        <if test="ids != null and ids.size > 0">
            and p.id in
            <foreach collection="ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            ORDER BY FIELD
            <foreach collection="ids" item="item" separator="," open="(p.id," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getGroupPersonInfoByIdsTypeStatus" resultType="map">
        SELECT rp.*,
        gp.sex,
        gp.birth,
        gp.age,
        gp.is_marry,
        gp.mobile,
        gp.work_num,
        gp.work_name,
        gp.work_state_code,
        gp.work_state_text,
        gp.work_type_code,
        gp.work_type_text,
        gp.jc_type,
        gp.avatar,
        gp.hazard_factors,
        gp.hazard_factors_text,
        gp.diagnosis_date,
        gp.other_hazard_factors,
        gp.sporadic_physical,
        gp.department,
        o.physical_type,
        o.order_code,
        u.name AS unit_name,
        u.link_phone2 as unit_phone,
        gp.test_num as last_test_num,
        gp.regist_date as last_regist_date
        FROM t_review_person rp
        LEFT JOIN t_group_order o on rp.order_id = o.id and o.del_flag = 0
        LEFT JOIN t_group_unit u on rp.unit_id = u.id and u.del_flag = 0
        left join t_group_person gp on gp.id = rp.first_person_id and gp.del_flag = 0
        WHERE rp.del_flag = 0
        <if test="ids != null and ids.size > 0">
            and rp.id in
            <foreach collection="ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            ORDER BY FIELD
            <foreach collection="ids" item="item" separator="," open="(rp.id," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getPersonReviewerCheck" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT
        t_review_person.id,t_review_person.person_name,t_review_person.is_pass,t_group_person.sex,t_review_person.id_card,t_group_person.birth,t_group_person.age,t_group_person.jc_type,t_group_person.physical_type,t_group_person.sporadic_physical
        FROM
        t_review_person
        left join t_group_person on t_review_person.first_person_id = t_group_person.id
        ${ew.customSqlSegment}

        and ( SELECT count(1)FROM review_result where person_id = t_review_person.id
        <if test="list != null and list != ''">
            and office_id IN
            <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            and regist_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and regist_date &lt;= #{endDate}
        </if>
        and is_pass = 2
        and del_flag = 0
        and (state = 1 or state is null)
        )
        &gt;(SELECT count( 1 ) FROM t_depart_result
        WHERE
        group_item_id IN ( SELECT id FROM review_result WHERE person_id = t_review_person.id
        <if test="list != null and list != ''">
            and office_id IN
            <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            and regist_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and regist_date &lt;= #{endDate}
        </if>
        and is_pass = 2
        and del_flag = 0
        and (state = 1 or state is null)))
        AND EXISTS (SELECT person_id FROM review_result WHERE person_id = t_review_person.id
        <if test="list != null and list != ''">
            and office_id IN
            <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            and regist_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and regist_date &lt;= #{endDate}
        </if>
        and is_pass = 2
        and del_flag = 0
        and (state = 1 or state is null)
        )

    </select>
    <select id="getPersonReviewerNoCheck" resultType="com.scmt.healthy.entity.TGroupPerson">
        SELECT
        t_review_person.id,t_review_person.person_name,t_review_person.is_pass,t_group_person.sex,t_review_person.id_card,t_group_person.birth,t_group_person.age,t_group_person.jc_type,t_group_person.physical_type,t_group_person.sporadic_physical
        FROM
        t_review_person
        left join t_group_person on t_review_person.first_person_id = t_group_person.id
        ${ew.customSqlSegment}

        and ( SELECT count(1)FROM review_result where person_id = t_review_person.id
        <if test="list != null and list != ''">
            and office_id IN
            <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            and regist_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and regist_date &lt;= #{endDate}
        </if>
        and is_pass = 2
        and del_flag = 0
        and state = 1
        )
        &lt;=(SELECT count( 1 ) FROM t_depart_result
        WHERE
        group_item_id IN ( SELECT id FROM review_result WHERE person_id = t_review_person.id
        <if test="list != null and list != ''">
            and office_id IN
            <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            and regist_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and regist_date &lt;= #{endDate}
        </if>
        and is_pass = 2
        and del_flag = 0
        and state = 1 ))
        AND EXISTS (SELECT person_id FROM review_result WHERE person_id = t_review_person.id
        <if test="list != null and list != ''">
            and office_id IN
            <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            and regist_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and regist_date &lt;= #{endDate}
        </if>
        and is_pass = 2
        and del_flag = 0
        and state = 1)

    </select>

    <select id="updatewAutograph" resultType="java.lang.Integer">
        select autograph()
    </select>

    <select id="queryNoCheckProjectPersonReviewList" resultType="com.scmt.healthy.entity.TReviewPerson">
          select  t_review_person.id,
          t_review_person.first_person_id,
                t_review_person.test_num,
                t_review_person.person_name,
                t_review_person.physical_type,
                t_review_person.is_recheck,
                t_group_person.sex,
                t_group_person.age,
                t_review_person.id_card,
                t_review_person.dept,
                t_group_person.is_pass,
                t_group_person.work_state_code,
                t_group_person.work_state_text,
                t_group_person.hazard_factors,
                t_group_person.hazard_factors_text,
                t_review_person.regist_date,
                t_review_person.delete_id,
               (select GROUP_CONCAT(DISTINCT name)
                from t_order_group_item
                where group_id = t_group_person.group_id and del_flag = 0
                  and id not in (select group_item_id from t_depart_result where person_id = t_group_person.id)
                  and id not in (select order_group_item_id from relation_person_project_check where person_id = t_group_person.id and state = 2)) as noCheckProjectName
        from t_review_person LEFT JOIN t_group_person ON t_group_person.id = t_review_person.first_person_id
        ${ew.customSqlSegment}
    </select>
    <select id="queryNoCheckProjectLedgerPersonList" resultType="com.scmt.healthy.entity.TGroupPerson">
 select  t_group_person.id,
                t_group_person.test_num,
                t_group_person.physical_type,
                t_group_person.is_recheck,
                t_group_person.person_name,
                t_group_person.sex,
                t_group_person.age,
                t_group_person.id_card,
                t_group_person.is_pass,
                t_group_person.work_state_code,
                t_group_person.work_state_text,
                t_group_person.hazard_factors,
                t_group_person.hazard_factors_text,
                t_group_person.regist_date,
                t_group_person.delete_id,
               (select GROUP_CONCAT(DISTINCT name)
                from t_order_group_item
                where group_id = t_group_person.group_id and del_flag = 0
                  and id not in (select group_item_id from t_depart_result where person_id = t_group_person.id)
                  and id not in (select order_group_item_id from relation_person_project_check where person_id = t_group_person.id and state = 2)) as noCheckProjectName,
                t_career_history.irradiation_type,
                t_career_history.irradiation_type_code

        from t_group_person
        LEFT JOIN t_career_history on t_career_history.person_id = t_group_person.id
        ${ew.customSqlSegment}
    </select>
    <select id="getNoCheckProjectPersonReviewList" resultType="com.scmt.healthy.entity.TGroupPerson">
   SELECT
	t_review_person.id,
	t_review_person.first_person_id,
	t_review_person.test_num,
	t_review_person.person_name,
	t_group_person.sex,
	t_group_person.age,
	t_review_person.id_card,
	t_review_person.dept,
	t_group_person.is_pass,
	t_group_person.work_state_code,
	t_group_person.work_state_text,
	t_group_person.hazard_factors,
	t_group_person.hazard_factors_text,
	t_review_person.regist_date AS registDate,
	t_review_person.delete_id,
	(
	SELECT
		GROUP_CONCAT( DISTINCT NAME )
	FROM
		t_order_group_item
	WHERE
		group_id = t_group_person.group_id
		AND del_flag = 0
		AND id NOT IN ( SELECT group_item_id FROM t_depart_result WHERE person_id = t_group_person.id )
	AND id NOT IN ( SELECT order_group_item_id FROM relation_person_project_check WHERE person_id = t_group_person.id AND state = 2 )) AS noCheckProjectName
FROM
	t_group_person
	LEFT JOIN t_review_person ON t_group_person.id = t_review_person.first_person_id
        ${ew.customSqlSegment}
    </select>
    <select id="getByPersonIdList" resultType="com.scmt.healthy.entity.TGroupPerson">
     select t_group_person.id,id_card,
        t_group_person.id,
        t_group_person.sex,
        t_group_person.birth,
        t_group_person.test_num,
        t_group_person.age,mobile,
        person_name,
        dept,
        certificate_type,
        regist_date,
        avatar,
        nation,
        t_group_unit.uscc,
        t_group_unit.address,
        t_certificate_manage.registration_number,
        t_certificate_manage.basic_person_id,
        t_group_unit.region_name from t_group_person left JOIN t_group_unit on t_group_person.unit_id = t_group_unit.id left join t_certificate_manage on t_group_person.id = t_certificate_manage.person_id
         ${ew.customSqlSegment}
    </select>
    <select id="getGroupPersonOrderNumByIds" resultType="com.scmt.healthy.entity.TInspectionRecord">
        SELECT * FROM
        (SELECT
        ( @rowno := @rowno + 1 ) AS rowno ,i.conclusion_code,i.del_flag,
        i.person_id
        FROM
        (SELECT * FROM
        t_inspection_record WHERE del_flag = 0 and conclusion_code in (12003 ,12004) ) as i,
        (select (@rowno:=0)) b ORDER BY i.create_time DESC) c
    </select>
    <select id="selectGroupPersonCountByIdCardAndCheckDate" resultType="Integer">
        SELECT
	        COUNT(*)
        FROM
	        t_group_person
        WHERE
	        id_card = #{idCard}
	    AND check_date LIKE CONCAT('%',#{checkDate},'%')
    </select></mapper>
