<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scmt.healthy.mapper.TReviewRecordMapper">

    <select id="getCheckProjectByPersonId" resultType="com.scmt.healthy.entity.TReviewRecord">
        select check_project_id from t_review_record where person_id = #{personId}
    </select>
</mapper>
