<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.mapper.TSampleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scmt.healthy.entity.TSample">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="barcode_num" property="barcodeNum" />
        <result column="spec" property="spec" />
        <result column="need_take_blood" property="needTakeBlood" />
        <result column="code" property="code" />
        <result column="order_num" property="orderNum" />
        <result column="is_print" property="isPrint" />
        <result column="liscode" property="liscode" />
        <result column="capacity" property="capacity" />
        <result column="del_flag" property="delFlag" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
        <result column="delete_id" property="deleteId" />
        <result column="delete_time" property="deleteTime" />
        <result column="department_id" property="departmentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, barcode_num, spec, need_take_blood,code, order_num, is_print, liscode, capacity, del_flag, create_id, create_time, update_id, update_time, delete_id, delete_time, department_id
    </sql>

</mapper>
